@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Lato", sans-serif;
    background-color: #fff;
    font-weight: 400;
}
img{
    max-width: 100%;
    height: auto;
}
ul{
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
/* =-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-= 
                        Header area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-= */
header{
    background-color: #f6f9f9;
    padding: 30px 0;
}
.strict-menu{
    
}
.strict-menu ul{
    display: flex;
    justify-content: flex-end;
}
.strict-menu ul li a{
    display: block;
    padding: 0 28px;
    font-size: 20px;
    color: #454444;
    text-transform: capitalize;
}
/* =-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-= 
                        banner area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-= */
.strict-banner{
    background: url('/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 160px 0 80px;
    background-attachment: fixed;
}
.strict-banner-top{}
.strict-banner-top h1{
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;
}
.strict-banner-top p{
    color: #fff;
    font-size: 20px;
    border-top: 2px solid #15a4fa;
    display: inline-block;
    padding: 35px 20px;
}
.strict-banner-buttom{}
.strict-banner-buttom button{
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: 1px solid #15a4fa;
    padding: 10px 25px;
}
.strict-banner-buttom a{
    display: block;
    margin-top: 170px;
    color: #fff;
}
/* =-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-= 
                        about area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-= */
.strict-about{
    background-color: #f5f9f9;
    padding: 70px 0;
}
.strict-title{
    text-align: center;
    margin-bottom: 30px;
}
.strict-title h2{
    color: #2d3950;
    font-size: 40px;
    font-weight: 700;
}
.strict-title p{
    color: #909090;
    font-size: 15px;
}
.strict-about p{
    color: #999;
    font-size: 20px;
    text-align: center;
}
/* =-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-= 
                        service area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-= */

.strict-service{
    padding: 70px 0;
    background-color: #fff;
}
.strict-service-item{}
.strict-service-icon{
    width: 65px;
    height: 65px;
    background: linear-gradient(90deg, #47b0ff 50%,#5fc3ff 50%);
    color: #fff;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
}
.strict-service-text{
    text-align: center;
    padding: 0 23px;
}
.strict-service-text h5{
    font-size: 22px;
    color: #2d3950;
}
.strict-service-text p{
    font-size: 15px;
    color: #999;
}
/* =-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-= 
                        strict work
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-= */
.strict-work{
    background-color: #f6f9f9;
    padding: 80px 0;
}
.strict-work-img{
    position: relative;
    margin-bottom: 25px;
}
.strict-work-img img{
    width: 100%;
}

.strict-work-overlay{
    background-color: rgba(21, 164, 250, 0.9);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s;
    
}
.strict-work-overlay:hover{
    opacity: 1;
}

.strict-work-overlay ul{
    display: flex;
}
.strict-work-overlay ul li{
    border: 1px solid #ffffff;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.strict-work-overlay ul li a{
    color: #fff;
    
}
/* =-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-= 
                        strict contact
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-= */
.strict-contact{
    background: url('../images/road.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.strict-contact-overlay{
    background-color: rgba(45, 57, 79, 0.9);
    padding: 80px 0;
}
.strict-contact .strict-title h2{
    color: #ffffff;
}

.strict-contact form input,
.strict-contact form textarea{
    background-color: transparent;
}
.strict-form-buttom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.strict-form-sub label{
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
}
.strict-form-submit input{
    border: 1px solid #15a3f9;
    padding: 5px 30px;
    color: #fff;
}
/* =-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-= 
                        footer area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-= */
footer{
    background: #f5f9f9;
    padding: 20px 0;
}
.strict-copyright p{
    margin-bottom: 0;
    color: #999;
    font-size: 15px;
}
.strict-social{}
.strict-social ul{ 
    display: flex;
    justify-content: end;
}
.strict-social ul li{
    width: 35px;
    height: 35px;
    background-color: #15a3f9;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.strict-social ul li a{
    color: #fff;
}
input::placeholder {
    color:#999999 !important;
}
textarea::placeholder {
    color:#999999 !important;
}
